extends layout

block page_title
  title Este es el título de la página.

block greeting
  h1 Hola El Mundo!

block software_engineer
  p ¡Pronto seré ingeniero de software!
  img(src="/images/earth.jpeg"
    alt="El Mundo"
    title="El Mundo")